<div class="bodyAll d-flex flex-column">
  <div class="header">
    <div class="sreach">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [placeholder]="'Search.title' | translate" class="txtsreach"
          [(ngModel)]="searchKeywords" />
      </span>
      <button pButton type="button" [label]="'Search.title' | translate" class="p-button-outlined btnsearch"
        (click)="handleGetListUser()"></button>
    </div>
    <!-- <div class="dropdow">
      <p-dropdown [options]="UserOtion" [(ngModel)]="selectedUserId" optionLabel="name" optionValue="id"
        [style]="{ minWidth: '240px' }" class="statusdrop" [placeholder]="'Select Status.title' | translate"
        (onChange)="handleGetListUser()">
      </p-dropdown>
    </div> -->
    <div class="dropdow">
      <p-dropdown [options]="ApproveOption" [(ngModel)]="selectedOption" optionLabel="name" optionValue="id"
        [style]="{ minWidth: '240px' }" class="statusdrop" [placeholder]="'Select Status.title' | translate"
        (onChange)="handleGetListUser()">
      </p-dropdown>
    </div>
  </div>

  <div class="table h-100 mb-0" *ngIf="!!Listuser">
    <p-table class="tablein" selectionMode="multiple" [paginator]="true" [rows]="8" [value]="Listuser">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="username" class="txttable">
            {{'Username.title' | translate}} <p-sortIcon field="username"> </p-sortIcon>
          </th>
          <th pSortableColumn="email">
            {{'Email.title' | translate}} <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th pSortableColumn="phone">
            {{'Phone.title' | translate}} <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th pSortableColumn="role">
            {{'Role.title' | translate}} <p-sortIcon field="role"></p-sortIcon>
          </th>
          <th pSortableColumn="approve">
            {{'Approve.title' | translate}} <p-sortIcon field="approve"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td class="custumSerialnumber">{{ user.username }}</td>
          <td class="custumSerialnumber">{{ user.email }}</td>
          <td class="custumSerialnumber">{{ user.phone }}</td>
          <td class="custumSerialnumber">{{ user.role }}</td>
          <td class="custumSerialnumber">
            <div [ngClass]="{
                approval: user.approve === 'Approval',
                reject: user.approve === 'Reject',
                waiting: user.approve === 'Waiting'
              }">
              {{ user.approve }}
            </div>
          </td>
          <div class="eyebtn">
            <!-- <p-inputSwitch [(ngModel)]="user.isActive" (onChange)="handleChangeActiveUser(user)"></p-inputSwitch> -->
            <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"
              (click)="showDialog(user.role, user.id)"></button>
          </div>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog [header]="'User Detail.title' | translate" [(visible)]="displayDialogUser" [modal]="true"
    [style]="{ width: '60%' }" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="headerM">
      <div class="headerMA">
        <img [src]="userDetailData.avatar" class="imagAvata" />
        <div class="buttonimage">
          <button pButton pRipple type="button" [label]="detailData.approve"
            [ngClass]="{'p-button-success': detailData.approve == 'approval', 'p-button-primary': detailData.approve == 'waiting', 'p-button-danger': detailData.approve == 'reject'}"
            class="p-button-outlined buttonsuccess w-100" (click)="handleUpdateUser(true)"></button>
        </div>
      </div>
      <div class="AllBodyHaeder w-100 row" *ngIf="editUserData">
        <form [formGroup]="userdetailsfrom" class="d-flex">
          <div class="col-6">
            <div class="row d-flex align-items-center p-0 mb-3">
              <div class="col-3 p-0">
                <p>{{'Username.title' | translate}}:</p>
              </div>
              <div class="col-9">
                <input class="inputName" type="text" pInputText [(ngModel)]="userDetailData.userName"
                  [ngModelOptions]="{ standalone: true }" disabled />
                <div class="error-msg">
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center p-0 mb-3">
              <div class="col-3 p-0">
                <p>{{'Email.title' | translate}}:</p>
              </div>
              <div class="col-9">
                <input class="inputName" type="text" pInputText formControlName="email" />
                <div class="error-msg">
                  <small class="p-error" *ngIf="
                      (userdetailsfrom.controls.email.dirty ||
                      userdetailsfrom.controls.email.touched) &&
                      userdetailsfrom.controls.email.errors
                    ">
                    {{ userdetailsfrom.controls.email.errors.message }}
                  </small>
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center p-0 mb-3">
              <div class="col-3 p-0">
                <p>{{'Role.title' | translate}}:</p>
              </div>
              <div class="col-9">
                <input class="inputName" type="text" 
                  pInputText [(ngModel)]="userDetailData.roleId"
                  [ngModelOptions]="{ standalone: true }" disabled />
                <div class="error-msg">
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center p-0 mb-3">
              <p class="stastuspopup">{{'IDCardImage.title' | translate}}</p>
              <div class="Evidence">
                <div *ngFor="let evidence of userDetailData.evidence">
                  <p>{{ evidence.category }}</p>
                  <div type="btnimage">
                    <img [src]="evidence.url ? evidence.url : './assets/images/noImage.png'" class="imageRedvoid"
                      (click)="takePhoto(evidence.url)" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row d-flex align-items-center p-0 mb-3">
              <div class="col-4 p-0">
                <p>{{'Phone.title' | translate}}:</p>
              </div>
              <div class="col-8">
                <input class="inputName" type="text" pInputText formControlName="phone" />
                <div class="error-msg">
                  <small class="p-error" *ngIf="
                    (userdetailsfrom.controls.phone.dirty ||
                    userdetailsfrom.controls.phone.touched) &&
                    userdetailsfrom.controls.phone.errors
                  ">
                    {{ userdetailsfrom.controls.phone.errors.message }}
                  </small>
                </div>
              </div>
            </div>
            <div class="row d-flex align-items-center p-0 mb-3">
              <div class="col-4 p-0">
                <p> {{'ID Card.title' | translate}}:</p>
              </div>
              <div class="col-8">
                <input class="inputName" type="text" pInputText formControlName="idCard" />
                <div class="error-msg">
                  <small class="p-error" *ngIf="
                      (userdetailsfrom.controls.idCard.dirty ||
                      userdetailsfrom.controls.idCard.touched) &&
                      userdetailsfrom.controls.idCard.errors
                    ">
                    {{ userdetailsfrom.controls.idCard.errors.message }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="dialog-control d-flex w-100 justify-content-end">
      <button pButton pRipple type="button" label="Cancel" class="p-button-danger mr-2"
        (click)="displayDialogUser = false"></button>
      <button pButton pRipple type="button" label="Approve" class="p-button-primary mr-2"
        (click)="handleApproveUser(detailData.username, detailData.id, 1)"
        [ngStyle]="{display: detailData.approve != 'Waiting' ? 'none' : ''}"></button>
      <button pButton pRipple type="button" label="Reject" class="p-button-warning mr-2"
        (click)="handleApproveUser(detailData.username, detailData.id, -1)"
        [ngStyle]="{display: detailData.approve != 'Waiting' ? 'none' : ''}"></button>
    </div>
  </p-dialog>
  <p-dialog [header]="'Image.title' | translate" [(visible)]="displayPhoto" [baseZIndex]="12000"
    [style]="{ width: '45%' }" class="dialogshowimage">
    <img [src]="imagetoshowdetailUrl ? imagetoshowdetailUrl : '../../../assets/images/noImage.png' " alt="sdfadsfdsf"
      class="imageshow">
  </p-dialog>

  <p-confirmDialog [header]="'Confirmation.title' | translate" [style]="{ width: '600px' }" [baseZIndex]="10000">
  </p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>